

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.btn-green {
  background-color: green;
}

.btn-red {
  background-color: red;
}

button {
  margin-left: 10px;
}
